.div1{
    background-color: chartreuse;
}

.div2{
    background-color: rgb(255, 230, 0);
}

.div3{
    background-color: rgb(140, 0, 255);
}

.conteiner{
    border: 2px solid black;
    /* Limita o tamanho do elemento */
    max-width: 400px;
    margin: 0 auto;
    /* Define o tamanho do elemento e o espaço entre eles */
    display: flex;

}

.item{
    background-color: blue;
    margin: 5px;
    text-align: center;
    color: aliceblue;
}